* {
  font-family: 'Source Sans Pro', sans-serif;
}

body:not(.bg-white):not(.crear-usuario):not(.crear-edificio) {
  background: url("../src/assets/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
}

body.bg-white {
  background-color: #fff;
}

body.crear-usuario {
  background: url("../src/assets/fondoClaro.jpg") no-repeat center center fixed;
  background-size: cover;
}

body.crear-edificio {
  background: url("../src/assets/fondoClaro.jpg") no-repeat center center fixed;
  background-size: cover;
}

button {
  border: none;
}