.cardPerfil{
    background-color: white;
    border-radius: 30px;
}

@media (max-width: 576px) {
    .cardPerfil{
        width: 40%;
    }   
}

@media (min-width: 576px) and (max-width: 992px) {

}

@media (min-width: 992px) {
    .cardPerfil{
        width: 40%;
        margin-top: 5rem;
    }   
}

.tituloPerfil{
    font-weight: 600;
}